button[type=submit] {
    background-color: #1E9FFF;
    color: #fff;
}

button[type=submit],
button[type=empty] {
    text-align: center;
    border: 0;
    border-radius: 2px;
    white-space: nowrap;
    height: 38px;
    line-height: 38px;
    font-family: inherit;
    font-size: 14px;
    width: 86px;
}

button[type=submit]:hover {
    opacity: 0.8;
    color: #fff;
}

button[type=empty] {
    border: 1px solid #C9C9C9;
    background-color: #fff;
    color: #555;
}

button[type=empty]:hover {
    border: 1px solid #66bf48;
    color: black;
}

div[type=chengong] {
    color: red;
}

.tynoo-load {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tynoo-load hr {
    border: 0;
    margin: 0;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite;
    opacity: 1;
}

.tynoo-load :first-child {
    background: #19A68C;
    animation-delay: -1.5s
}

.tynoo-load :nth-child(2) {
    background: #F63D3A;
    animation-delay: -1s
}

.tynoo-load :nth-child(3) {
    background: #FDA543;
    animation-delay: -0.5s
}

.tynoo-load :last-child {
    background: #193B48
}

@keyframes spin {

    0%,
    100% {
        transform: translate(0)
    }

    25% {
        transform: translate(160%)
    }

    50% {
        transform: translate(160%, 160%)
    }

    75% {
        transform: translate(0, 160%)
    }
}